@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*,html{
    margin:0;
    padding:0;
}

body{
    background-image: url("background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-align: left;
   
}
h1{
    background-color: rgb(17, 15, 116);
    padding:1rem;
    color:#5a86e6;
    text-align:center;
    font-weight: bold;

}
.form{
    
    margin:5% 30% 0 30%;
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

label{
    margin:0.5rem;
    font-size:x-large;
    font-weight: bolder;
}

button{
    font-size:x-large;
    font-weight: bolder;
    align-self: left;
    background-color:white ;
    border-radius: 3px;
    border-style:none;
    padding:0.5rem;
    color:#0b3799;
    margin: 0 0 0 47%;
   
}

input{
    padding:1rem;
    border-radius: 1px;
    border-style:none;
}

.output{
    color:white;
    font-size: xx-large;
    font-weight: bolder;
    margin:7% 25% 20% 30%;

}